# Model weights
*.pth
*.pt
*.zip

# Outputs folder (training artifacts)
Outputs/

# Data
data/raw/
data/test_images/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db